# Blacklist other keycloak directories
/*
**/.DS_Store

# Whitelist themes and useful files 
!.gitignore
!Dockerfile
!README.md
!changeLogger.xsl
!changeProxy.xsl
!removeHeaders.xsl
!changeWelcomeTheme.xsl
!docker-compose.yml
!themes/
